.cart{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}

.cart_items{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.615);
}
.cart_items_img{
    height: 50px;
    width: 50px;
    /* background-color: blueviolet; */
}
.cart_items_img img{
    height: 50px;
    width: 60px;
    margin: auto;
}

.cart_items p{
    color: rgb(61, 61, 61);
}

.item_bill{
    background-color: antiquewhite;
    width: 100%;
    padding: 10px 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}