.container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin_container{
    width: 250px;
    padding: 30px;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.signin_container h2{
    text-align: center;
    margin: auto;
}

.container img{
    margin-bottom: 25px;
    height: 30px;
}
.input_box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    color: rgb(27, 27, 27);
}
.input_box input{
    outline: none;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid gray;
}

.signin_container button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: bisque;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;

}
.condition_statement{
    font-size: 13px;
    color: grey;
    text-align: center;
}

.condition_statement span{
    color: brown;
    font-weight: 500;
}